<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="WatcherPath" value="c:\Temp"/>
    <add key="PgpPath" value="c:\Temp\Pgp"/>
    <add key="OutputPath" value="c:\Temp"/>
    <add key="PublicKeyPath" value="c:\Temp\Key"/>
    <add key="Recipient" value="0x5604C84A"/>
    <add key="Filter" value="*.*"/>
    <add key="FilterExclude" value=".pgp;.tmp"/>
    <!-- Type of supported logging none, eventlog, console, file -->
    <add key="TypeOfLog" value="file"/>

    <!--<add key="Path" value="\\agdadrift.se\kunder\DK_3415\INTERFACE\OUT\ANNUAL_SALARY\WORK"/>-->
  </appSettings>
</configuration>